@{
    ViewData["Title"] = "Produkt";
}

<h1>@ViewBag.product.ProductName</h1>
<br />
<img src="~/images/@ViewBag.product.ProductImage" alt="@ViewBag.product.ProductDescription" />
<br /><br />
<p>@ViewBag.product.ProductDescription</p>
<p><strong>Pris:</strong> @ViewBag.product.ProductPrice kr.</p>

@using (Html.BeginForm())
{
    <span>Antal:</span>
    <br />
    @Html.TextBox("quantity", 1);
    <input type="submit" Name="submit" value="Lägg i varukorgen" class="btn-info" />
}